.info{
    font-weight: bold;
    color: #F86F03;
}

.textArea{
    border: 1px solid red;
    padding: 2%;
    border-radius: 4px;
    background-color: #F86F03;
    color: #FFF6F4;
}

.value {
    font-size: small;
}