.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-height: max-content;
    height:100%;
    margin: 35% 0;
}

@media only screen and (min-width: 768px) {
    .container {
    margin: 15% 0;

    }
  }