.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}


.button {
    min-width: 80px;
    min-height: 25px;
    background-color: #F86F03;
    margin: 3%;
    border: none;
    border-radius: 6px;
    color: #FFF6F4;
}

.disableButton{
    min-width: 80px;
    min-height: 25px;
    background-color: #f86d03c4;
    margin: 3%;
    border: none;
border-bottom: #FFF6F4 solid 2px;
    border-radius: 6px;
    color: #fff6f4a3;
    font-weight: bold;
}
.buttons {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 10%;
    
}